body {
	background-color: #372387;
	color: white;
}

.game-board {
	text-align: center;
	margin: auto;
}

.grid-item {
	border: 1px solid #00dded;
	padding: 20px;
	font-size: 2em;
	text-align: center;
}

button {
	padding: 30px;
	text-align: center;
	color: #372387;
	background-color: white;
	font-size: 2em;
	cursor: pointer;
}

.myList {
	text-align: center;
	font-size: 2em;
}

.gridContainer {
	display: grid;
}
