/* .triangle {
	border: 0 solid red;
	border-left-width: 200px;
	border-top-width: 12px;
	border-top-color: transparent;
}
.trapezoid {
	border: 0 solid red;
	width: 200px;
	border-bottom-width: 160px;
	border-right-width: 12px;
	border-right-color: transparent;
} */

.answer {
	margin: 40px;
}
