@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

html,
body {
	height: 100%;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
}

a {
	text-decoration: none;
}
.wrapper {
	min-height: 100%;
	position: relative;
	margin: 0;
	background-image: url(../pics/background.png);
	background-size: cover;
	background-position-x: center;
	color: white;
	font-family: "Lato", sans-serif;
}

#entVid {
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2147483647;
}

.game-board {
	text-align: center;
	margin: auto;
	padding-bottom: 239.7px;
}

.grid-item {
	border: 1px solid #00dded;
	padding: 3px;
	margin: 0;
	font-size: 1.5em;
	text-align: center;
	cursor: grab;
}

.grid-item:hover {
	background-color: white;
	color: #372387;
}

.message {
	margin-top: 40px;
	margin-bottom: 40px;
}

.message span {
	color: RGB(236, 240, 0);
}

button {
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 15px;
	width: 20%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #372387;
	background-color: white;
	font-size: 1em;
	cursor: pointer;
	/* border: 0; */
}

.myList {
	display: inline-block;
	text-align: center;
	margin: 40px auto 40px;
}

.myList > div {
	display: inline-block;
	padding-right: 5px;
	font-size: 1em;
	text-transform: capitalize;
}

.gridContainer {
	display: grid;
}

.footer {
	position: relative;
	top: 40px;
	margin: 0;
	padding-top: 40px;
}

footer img {
	height: 239.7px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
